h1 {
    text-align: center;
}
#container {
    position: relative;
    min-width: 400px;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
img {
    display: block;
    aspect-ratio: auto;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
    transition: all 0.1s;
    z-index: 1;
    background-color: #000000;
}
img:hover {
    opacity: 1.0;
    transform: scale(1.02, 1.02);
}
img:active {
    transform: scale(1.01, 1.01);
}
.ripple {
    transition: all 0.1s;
    position: absolute;
    user-select: none;
    pointer-events: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: scale(0);
    animation: ripple 300ms ease-out;
    background-color: rgba(255, 255, 255, 0.3);
}
@keyframes ripple {
    from {
        transform: scale(1);
        opacity: 0.5;
    }
    to {
        transform: scale(50);
        opacity: 0;
    }
}
footer {
    font-size: 0.8em;
    text-align: center;
    color: #666666;
}